body {
  font: 12pt Lato;
}

.false-axis{
  stroke: #000;
}

.grid-line{
  stroke: #b3b3b3;
}
.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis-label{
  font: 12pt Lato;
  font-weight: 700;

}

.y.axis .tick line{
  display: none;
}

.legend-text{
  fill: white;
}

#title{
  font: 20pt Lato;
}

#subtitle{
  font-style: italic;
}

.legend{
  font-size: 14px;
  padding: 14px;
  margin: 20px 0  0 6px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #1696d2;
  display: block;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  float: left;
  margin-right: 1px;
}

button:focus {outline:0;}